<div class="column custom-datepicker q-pa-md">
  <div class="row justify-center">
    <div class="column q-pa-sm">
      <q-datetime-picker minimal v-model="first" type="date" @input="selectFirst()" />
      <p class="q-mt-md q-mb-none text-light">From:</p>
      <q-input v-model="dateString1" />
    </div>
  
    <div class="q-pa-sm">
      <q-datetime-picker minimal v-model="second" type="date" @input="selectSecond()" />
      <p class="q-mt-md q-mb-none text-light">To:</p>
      <q-input v-model="dateString2" />
    </div>
    
    <div class="column justify-between q-pa-sm buttons">
      <q-btn class="outline" text-height="20px" size="full-width" label="Today" @click="select('Today')" :color="selectedOption == 'Today' ? 'primary' : '' "/>
      <q-btn class="outline" text-height="20px" size="full-width" label="This Week" @click="select('This Week')" :color=" selectedOption == 'This Week' ? 'primary' : '' " />
      <q-btn class="outline" text-height="20px" size="full-width" label="Last Week" @click="select('Last Week')" :color=" selectedOption == 'Last Week' ? 'primary' : '' "/>
      <q-btn class="outline" text-height="20px" size="full-width" label="This Month" @click="select('This Month')" :color=" selectedOption == 'This Month' ? 'primary' : '' "/>
      <q-btn class="outline" text-height="20px" size="full-width" label="Last Month" @click="select('Last Month')" :color=" selectedOption == 'Last Month' ? 'primary' : '' "/>
      <q-btn class="outline" text-height="20px" size="full-width" label="All Time" @click="select('All Time')" :color=" selectedOption == 'All Time' ? 'primary' : '' "/>
      <q-btn class="outline" text-height="20px" size="full-width" label="Fixed Dates" @click="select('Fixed Dates')" :color=" selectedOption == 'Fixed Dates' ? 'primary' : '' "/>
    </div>
  </div>

  <div class="divider">
  </div>

  <div class="row justify-between">
    <div class="q-body-1 text-faded">
      <span class="text-bold">Date Added </span>
      <span>is from {{ dateString1 }} to {{ dateString2 }}</span>
    </div>
    <div>
      <q-btn flat color="primary" label="Apply" :disable="first == undefined || second == undefined ? true : false" @click=""/>
      <q-btn flat color="grey" label="Clear" @click=""/>
    </div>
  </div>
</div>
